<div class="container-fluid py-5" style="background-image: url('../../../../assets/am3.jpeg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row mb-3" align="center">
            <h1 class="display-4">Meet the team</h1>
        </div>
        <div class="row">
    
            <div class="col-4">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team bg-light">
                        
              
                        <div class="picture">
                            <img class="img-fluid" src="../../../../assets/Ansarpng.png">
                            <i class="fa-solid fa-crown" style="color: #ffc524;"></i>
                            <p style="font-size: 15px;">Project Group Leader</p>
                        </div>
                      
                      <div class="team-content pt-3">
                        <h3 class="name">Mohd Ansar Bux</h3>
                        <h5 class="course"> <i class="fas fa-graduation-cap" style="color: #000000;"></i> &nbsp;&nbsp;Java Full Stack Developer</h5>
                        
                      </div>
                      <ul class="social">
                        <li><a href="https://github.com/Shadow-of-Raza" class="fa-brands fa-github" aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/mohd-ansar-bux/" class="fa-brands fa-linkedin" aria-hidden="true"></a></li>
                      </ul>
                    </div>
                  </div>
            </div>
    
    
            <div class="col-4">
                <div class=" col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team bg-light">
                    <div class="picture">
                        <img class="img-fluid" src="../../../../assets/Mansi.png">
                    </div>
                    <div class="team-content pt-3">
                        <h3 class="name">Mansi Bariyar</h3>
                        <h5 class="course"> <i class="fas fa-graduation-cap" style="color: #000000;"></i> &nbsp;&nbsp;Java Full Stack Developer</h5>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/MansiBariyar" class="fa-brands fa-github" aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/mansi-bariyar/" class="fa-brands fa-linkedin" aria-hidden="true"></a></li>
                    </ul>
                    </div>
                </div>
            
            </div>
    
    
            <div class="col-4">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team bg-light">
                    <div class="picture">
                        <img class="img-fluid" src="../../../../assets/lavanya.png">
                    </div>
                    <div class="team-content pt-3">
                        <h3 class="name">Lavanya Gahale</h3>
                        <h5 class="course"> <i class="fas fa-graduation-cap" style="color: #000000;"></i> &nbsp;&nbsp;Java Full Stack Developer</h5>
                        
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/Lavanyagahle" class="fa-brands fa-github" aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/lavanya-gahale?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="fa-brands fa-linkedin" aria-hidden="true"></a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="row ml-5">
                    <div class="col-4 mr-4 d-flex justify-content-center ">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
                            <div class="our-team bg-light">
                            <div class="picture">
                                <img class="img-fluid" src="../../../../assets/shashi.png">
                            </div>
                            <div class="team-content pt-3">
                                <h3 class="name">Sashikanth Anney</h3>
                                <h5 class="course"> <i class="fas fa-graduation-cap" style="color: #000000;"></i> &nbsp;&nbsp;Java Full Stack Developer</h5>
                            </div>
                            <ul class="social">
                                <li><a href="https://github.com/sashianney" class="fa-brands fa-github" aria-hidden="true"></a></li>
                                <li><a href="https://www.linkedin.com/in/sashikanth-anney-005338225/" class="fa-brands fa-linkedin" aria-hidden="true"></a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="our-team bg-light">
                        <div class="picture">
                            <img class="img-fluid" src="../../../../assets/nethesha.png">
                        </div>
                        <div class="team-content pt-3">
                            <h3 class="name">Sirupuram Nethesha</h3>
                            <h5 class="course"> <i class="fas fa-graduation-cap" style="color: #000000;"></i> &nbsp;&nbsp;Java Full Stack Developer</h5>
                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/Nethesha" class="fa-brands fa-github" aria-hidden="true"></a></li>
                            <li><a href="https://www.linkedin.com/in/sirupuram-nethesha-920566212" class="fa-brands fa-linkedin" aria-hidden="true"></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
      </div>
</div>