<div class="container-fluid py-5" id="contactlink" style="background-image: url('../../../../assets/am2.jpeg'); background-repeat: no-repeat; background-size: cover;">
    <div class="row">
      <div class="col">
        <div class="title">
          <h2 class="title-heading">
            Contact Us
          </h2>
        </div>
      </div>
    </div>
  
    <div class="container" >
      <div class="container p-4 bg-light w-50 border rounded" id="box">
        <h2 style="text-align: center;">Send Your Message</h2>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" >
          <div class="mb-3 mt-3">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="customername" required>
          </div>
  
          <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="from" required>
          </div>
  
          <div class='mb-3 mt-3'>
            <label for="subject">Subject:</label>
            <input type='text' class="form-control" id="subject" name="subject" [(ngModel)]="subject" placeholder="Enter subject" required />
          </div>
  
          <div class='mb-3 mt-3'>
            <label for="message">Message:</label>
            <textarea class="form-control" rows="4" id="message" name="message" [(ngModel)]="message" required style="resize: none;"></textarea>
          </div>
  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>